.categoryDiv{
  width: 100%;
  margin-top: 20px;
}
.menuBtn button{
  margin: 5px 15px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: peru;
  color: #222;
  font-weight: 600;
  border: none;
  letter-spacing: 2px;
  text-transform: capitalize;
  cursor: pointer;
}
.categoryDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
